
body {
    font-family: arial, helvetica, clean, sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 50px 0 0 0;
}

a {
    color: #59110A; /* COLOR4 */
    text-decoration: none;
}

a:hover {
    color: #AC2013; /* COLOR1 */
    text-decoration: none;
}

a img {
    border: none;
}

a.btn-primary,
a.btn-success,
a.btn-info,
a.btn-warning,
a.btn-danger,
a.btn-primary:hover,
a.btn-success:hover,
a.btn-info:hover,
a.btn-warning:hover,
a.btn-danger:hover {
    color: white;
}

img {
    border: none;
}

img.left, img.center, img.right {
    padding: 4px;
    border: 1px solid #a0a0a0;
}

img.left {
    float: left;
    margin: 0 12px 5px 0;
}

img.center {
    display: block;
    margin: 0 auto 5px auto;
}

img.right {
    float: right;
    margin: 0 0 5px 12px;
}

textarea {
    width: 97%;
}

.panel-heading {
    font-weight: bold;
}

#reload .glyphicon-refresh {
    margin-left: 5px;
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/** Header and navigation styles **/

header {
    font-size: 1.3em;
    background-color: #F8F8F8;
    background-image: url("../images/eix.png");
    background-position: right center;
    background-repeat: no-repeat;
    border-bottom: #DDDDDD 1px solid;
    clear: both;
    float: none;
    margin: 0;
    width: 100%;
    height: 110px;
    padding: 0;
}

header h1 {
    margin: 0 0 5px 20px;
    padding-top: 37px;
    text-align: left;
    color: #AC2013;
    font-weight: bold;
}

header .departament img {
    height: 40px;
}

header .xtec img {
    height: 25px;
    margin-top: 10px;
}

/* Remove header on small screens */
@media (max-width: 992px) {
    header {
        height: 0;
    }
}

#navbar_top {
    background-color: #fafafa;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    border-bottom: 2px solid #AC2013;
}

#navbar_top .mainbrand {
    line-height: 28px;
}

#navbar_top .brand {
    display: block;
    float: left;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777;
    text-shadow: 0 1px 0 #fff;
    padding: 5px 20px;
}

#navbar_top .brand.xtec {
    padding-right: 40px;
}

.navbar-default {
    min-height: 0;
}

.navbar-border {
    border-color: #e7e7e7;
    min-height: 0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li.active > a {
    color: #59110A;
}

.navbar-brand {
    background-image: url("../images/eix.png");
    background-repeat: no-repeat;
    background-size: 350%;
    background-position: 10px;
}

.nav > li > form > a {
    display: block;
    padding: 15px 15px;
}

.content h3 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
}

/** Login page **/

.login-form fieldset {
    border: 1px #ddd solid;
    margin: 0 0 1em 0;
    padding: 0.5em 1em;
    color: #333;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fafafa;
    background: linear-gradient(#fafafa, #f2f2f2);
}

.login-form fieldset .login-block {
    min-height: 100px;
}

.login-form fieldset .row-form {
    padding: 0.5em 0;
    min-height: 2em;
}

.login-form fieldset .row-form label {
    display: block;
    float: left;
    padding: 0.3em 1% 0.3em 0;
    text-align: right;
    width: 28%;
    font-weight: normal;
    color: #333;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-image img {
    max-width: 100%;
    max-height: 100%;
}


/** Footer **/

footer {
    border-top: 1px solid #CCC;
    text-align: center;
    clear: both;
    padding: 30px 0;
    margin-top: 30px;
}

/**************** Misc classes and styles ****************/

.theme_splitcontentleft {
    float: left;
    width: 48%;
}

.theme_splitcontentright {
    float: right;
    width: 48%;
}

.clear {
    clear: both;
}

.small {
    font-size: 0.8em;
}

.hide {
    display: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.important {
    color: #f02025;
    background-color: inherit;
    font-weight: bold;
}

.margin-1 {
    margin: 1em;
}

.margin-top-1 {
    margin-top: 1em;
}

.margin-top-2 {
    margin-top: 2em;
}

.margin-left-2 {
    margin-left: 2em;
}

.theme_box {
    margin: 0 0 20px 0;
    padding: 10px;
    border: 1px solid #c0c0c0;
    background-color: #fafbfc;
    color: #505050;
    line-height: 1.5em;
}

table.first_column_bold td:first-child {
    font-weight: bold;
}


/* Table styles based on style from the css table gallery
   STYLESHEET: CLEAR BLUE, AUTHOR: ROBERT HARTL */

table.datatable {
    width: 100%;
    line-height: 1.2em;
    background-color: #fff;
    border-collapse: collapse;
    text-align: left;
    letter-spacing: .1em;
    margin-bottom: 1em;
}

table.datatable caption {
    padding-bottom: 1em;
    text-align: center;
    font-size: 1.4em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .6em;
    color: #333;
    background: transparent;
}

table.datatable thead th, table.datatable tfoot th, table.datatable tfoot td {
    border-right: 1px solid #fff;
    padding-left: 5px;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    color: #fff;
    background: #a0a0a0;
}

table.datatable tfoot th, table.datatable tfoot td {
    border-top: 2pt double #009;
}

table.datatable td, table.datatable th {
    padding: 4px;
}

table.datatable tbody tr th, table.datatable tbody tr td {
    border-bottom: 1px dotted #467aa7;
}

table.datatable tbody tr:hover td, table.datatable tbody tr:hover th {
    border-bottom: 1px solid #467aa7;
}

table.datatable tbody td a, table.datatable tbody th a {
    background: transparent;
    text-decoration: none;
    border: none;
}

table.datatable tbody td a:hover, table.datatable tbody th a:hover {
    background: transparent;
}

table.datatable .odd {
    background: #e3e3f4;
}

table.datatable tbody tr:hover {
    color: #333;
    background: #e8eaec;
}

table.datatable tbody tr th:hover {
    background: #fff;
}

#theme_content ul.navlist {
    margin: 0;
    padding-top: 0;
}


/**************** Body and tag styles ****************/
/*
 *TEMA: Grana   Escull  Or      Llima   Tardor  Nostalgia
COLOR1: #AC2013 #FF0011 #CC7000 #74AB00 #CD6000 #457FB9
COLOR2: #AC2013 #FF4444 #E99B00 #5A6E31 #E68804 #457FB9
COLOR3: #303030 #00BBBB #0B3D41 #333333 #344D00 #457FB9
COLOR4: #59110A #008888 #145C61 #000000 #4E7104 #457FB9
COLOR5: #D0D0D0 #BBEEEE #87BDC1 #FFEDBA #B3CD7B #B3CADB
*/

/* Admin menu */
.admin-menu-container {
    overflow: auto;
}

.admin-menu-container::after {
    content: "";
    display: table;
    clear: both;
}

.admin-menu-container .primary {
    margin-top: 0.8em;
    min-height: 50px;
}

.admin-menu-container .secondary {
    min-height: 50px;
}

.admin-menu > ul.primary {
    font-size: large;
    background: #eee;
    color: #333;
    width: 100%;
}

.admin-menu > ul.secondary {
    font-size: large;
    background: #ddd;
    color: #333;
    width: 100%;
}

.admin-menu > ul.primary > li:hover {
    background-color: #ccc;
    color: #fff;
}

.admin-menu > ul.primary > li > a.selected {
    background-color: #ddd;
}

.admin-menu > ul.secondary > li > a {
    background-color: #ddd;
}

.admin-menu > ul.secondary > li:hover {
    background-color: #aaa;
    color: #fff;
}

.admin-menu > ul.secondary > li > a.selected {
    background-color: #bbb;
}

/* Pagination */
.pagination {
    margin: 0;
}

/* My Agora */
.myagora-menu-container {
    margin: 0.8em 0;
    min-height: 50px;
}


/* Queries */
.query-list {
    max-height: 500px;
    overflow: auto;
}

.query-item {
    padding: 1em;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.query-item button.btn {
    padding: 4px 8px;
    font-size: 12px;
}

.query-description {
    min-height: 30px;
}

.query-query {
    font-size: 0.8em;
    color: #999;
    word-wrap: break-word; /* To have automatic line breaks for long lines */
}

input#querySearch {
    display: inline-block;
    width: 96%;
}

/* Client switcher */
div.client-switcher {
    float: right;
    margin-top: -42px;
    margin-right: 8px;
    font-size: large;
    color: #59110A;
}

div.client-switcher:hover {
    background-color: #eee !important;
    color: #59110A !important;
}

/* Client selector in batch */
.italic {
    font-style: italic;
}
